body{
	font-size: 100%;
	box-sizing: border-box;
	font-family: verdana;
	margin: 0;
}
/*posicion de los divs*/
/*posicion de todo lo que quiero saber/*/

.divFloat {
	float: left;
	width: 33.3%;
}
p {
	border: solid 1px black;
	color: green;
}

h1, p{
	text-align: center;
}
