* {
	box-sizing: border-box;
}

body{
	font-size: 100%;

	font-family: verdana;
	margin: 0;
}
/*posicion de los divs*/
/*posicion de todo lo que quiero saber/*/
.contenedor3{
	float: left;
	width: 33.3%;
}
.divFloat {

	width: 90%;
}
p {
	border: solid 1px black;
	color: green;
}

h1, p{
	text-align: center;
}
