* {
	box-sizing: border-box;
}
body{
	font-size: 100%;
	font-family: verdana;
}
.contenedor3{
	width: 33.33%;
	float: left;
}
.divFloat {
	width: 90%;
	margin: 0 auto;
	border: solid 1px #9ACD32;
	background-color: #C0C0C0;
	padding: 0 10px;
}
p {
	/*border: solid 1px red;*/
	width: 90%;
	color: green;
	height: 180px;
	margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
h1, p{
	text-align: center;
}
h2 {
	text-align: right;
	padding-right: 20px;
	background-color: #F0FFFF;
	color: 	#5F9EA0;
}
h1{
	color: #2F4F4F;
}
